<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
</head>
<body>
        <div>
            <nav class="nnavbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="//127.0.0.1:3333/cliente">
                    <img src="https://image.flaticon.com/icons/svg/265/265674.svg" width="30" height="30" class="d-inline-block align-top" alt=" ">
                    Clientes
                </a>
                <a class="navbar-brand" href="//127.0.0.1:3333/vehiculo">
                    <img src="https://image.flaticon.com/icons/svg/741/741407.svg" width="30" height="30" class="d-inline-block align-top" alt=" ">
                    vehiculos
                </a>
                <a class="navbar-brand" href="//127.0.0.1:3333/mecanico">
                    <img src="https://image.flaticon.com/icons/svg/81/81836.svg" width="30" height="30" class="d-inline-block align-top" alt=" ">
                    Mecanicos
                </a>
                <a class="navbar-brand" href="//127.0.0.1:3333/factura">
                    <img src="https://image.flaticon.com/icons/svg/1611/1611154.svg" width="30" height="30" class="d-inline-block align-top" alt=" ">
                    Facturas
                </a>
                <a class="navbar-brand" href="//127.0.0.1:3333/hoja">
                    <img src="https://image.flaticon.com/icons/svg/1696/1696695.svg" width="30" height="30" class="d-inline-block align-top" alt=" ">
                    HojaDePartes
                </a>
                <a class="navbar-brand" href="//127.0.0.1:3333/repuesto">
                    <img src="https://image.flaticon.com/icons/svg/148/148912.svg" width="30" height="30" class="d-inline-block align-top" alt=" ">
                    Repuestos
                </a>
                <a class="navbar-brand" href="//127.0.0.1:3333/registro">
                    <img src="https://image.flaticon.com/icons/svg/1696/1696695.svg" width="30" height="30" class="d-inline-block align-top" alt=" ">
                    Registro
                </a>
                
            </nav>
        </div>
    <div class="container">
        <form action="/factura/store/" method="POST">
            <div class="form-group">
                <label for="formAlumno">idFactura</label>
                <input type="number" class="form-control" id="idFact" placeholder="idFact" name="idFact">
            </div>

            <div class="form-group">
                <label for="formAlumno">fecha</label>
                <input type="datetime-local" id="fecha" name="fecha">
            </div>
        
        
            
        
            <div class="form-group">
                <label for="formAlumno">imp Pesos</label>
                <input type="text" class="form-control" id="imp_pesos" placeholder="imp Pesos" name="imp_pesos">
            </div>

            <div class="form-group">
                <label for="formAlumno">imp Dolar</label>
                <input type="text" class="form-control" id="imp_dolar" placeholder="imp Dolar" name="imp_dolar">
            </div>

            <div class="form-group">
                <label for="formAlumno">rfc</label>
                <input type="text" class="form-control" id="rfc" placeholder="rfc" name="rfc">
            </div>
            
            <div class="form-group">
                    <label for="formAlumno">hojas</label>
                    <select name="idHoja" >
                        @each(hoja in hojas)
                            <option value="{{hoja.id}}">{{hoja.idHoja}}</option>
                        @endeach
                    </select>
                </div>
                
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Crear</button>
            </div>
        </form>
    </div>
</body>
</html>